*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse Turds #
/java/.classpath
/java/.project
/java/junit/.project
/java/bin
/java/.settings

# Mac Nonsense #
.DS_Store

# Maven Junk #
/java/target/
